<a href="https://colab.research.google.com/github/MhT-an/DSA3101-E-commerce-SubGroup-A/blob/main/Question_3_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Question 3(i):  Evaluate the ROI of different marketing channels**

# **0. Import necessary package & Set up query environment**

In [1]:
# Import necessary libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import os

os.chdir("../")

# **1. Data Query and Cleaning**

### (a) Reading in Data

Data querying & cleaning already performed in `subgrp_a_q3_data.py`. This is because we do not want to leave the private keys to query Google Cloud in our notebook.

In [2]:
%run "subgrp_a_q3_data.py"

c:\Users\user\anaconda3\Lib\site-packages\google\cloud\bigquery\table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

marketing_channel_metrics.parquet ready, time taken: 15.55071234703064 s

In [3]:
result = pd.read_parquet('marketing_channel_metrics.parquet')

In [4]:
result

,channel,total_users,total_sessions,total_transactions,total_revenue,main_category,sub_category,subsub_category
0,(none),6372,81848,4618,376396.678371,Apparel,Other,Other
1,(none),59120,575967,1683,245517.599048,Unavailable,Other,Other
2,(none),2797,32997,2030,202476.692998,Office,Other,Other
3,(none),2170,18687,1617,140781.674575,Accessories,Drinkware,Other
4,(none),1228,9626,901,100218.269407,Bags,Other,Other
...,...,...,...,...,...,...,...,...
547,cpm,43,1558,0,0.000000,Accessories,Drinkware,Other
548,referral,12,262,0,0.000000,Accessories,Fun,Other
549,affiliate,1,14,0,0.000000,Limited Supply,Other,Other
550,(not set),3,36,0,0.000000,Accessories,Drinkware,Water Bottles and Tumblers
551,affiliate,1,14,0,0.000000,Accessories,Fun,Other

In [5]:
result['total_revenue'].sum()

1742046.9741900002

# **2. Calculate cost of different marketing channels**

**We note that there are 5 unique channels. Here's how we split the work:**

- Organic (Abner)
- cpc (Ervin)
- cpm (Greg)
- Referral (JQ)
- Affiliate (MH)

## (a) Organic (Abner)

### (i) Obtain necessary data

In [89]:
result_organic = (
    result[result['channel'] == 'organic']  # Filter for organic channel
    .groupby('main_category')  # Group by main_category
    .agg({
        'total_users': 'sum',
        'total_sessions': 'sum',
        'total_transactions': 'sum',
        'total_revenue': 'sum'
    })  # Aggregate sums
    .reset_index()  # Reset the index to get a DataFrame
)

In [90]:
result_organic

,main_category,total_users,total_sessions,total_transactions,total_revenue
0,,3,54,0,0.000000
1,Accessories,52602,761471,412,20382.654392
2,Apparel,87423,2179392,1090,63582.380265
3,Bags,24972,345190,188,14168.326001
4,Brands,60714,1305418,41,2418.324115
5,Electronics,26422,455774,161,13942.955796
6,Gift Cards,772,4564,8,568.000000
7,Kids,75,3020,0,0.000000
8,Lifestyle,5175,190165,212,7460.538610
9,Limited Supply,2094,47303,0,0.000000
10,Office,22122,553492,586,31978.609211
11,Sale,341,6183,0,0.000000
12,Unavailable,43962,327829,599,70577.800503

### (ii) Analysis

Some assumptions made for this marketing channel are as follows:
 - SEO tools (including email campaigns) to boost exposure costs $3,000 a month.
 - The business sets aside $3,000 each month for social media campaigns.
 - Assume that the social media team has 5 members.
 - Assume that performance tracking costs $1,000 a month (for example, using Google Analytics)

In [138]:
# assume SEO tools cost 3000 a month
organic_cost = 3000 * 12

# assume socmed budget is 3000 a month
organic_cost += 3000 * 12

# assume performance tracking is 1000 a month
organic_cost += (1000*12)

print("Total Organic Cost: ${:.2f}".format(organic_cost))
print("Total revenue from organic advertising:", result_organic['total_revenue'].sum())
print(f"Return on investment: {(result_organic['total_revenue'].sum() - organic_cost) / organic_cost * 100:.2f}%")

Total Organic Cost: $84000.00
Total revenue from organic advertising: 225079.58889299998
Return on investment: 167.95%

## (b) Cost-per-click (CPC) (Ervin)

CPC refers to the cost an advertiser pays each time an online user clicks on their digital ad. This value is determined by dividing the cost of the marketing campaign by the total number of clicks.

### (i) Obtain necessary data

In [113]:
result_cpc = (
    result[result['channel'] == 'cpc']  # Filter for cpc channel
    .groupby('main_category')  # Group by main_category
    .agg({
        'total_users': 'sum',
        'total_sessions': 'sum',
        'total_transactions': 'sum',
        'total_revenue': 'sum'
    })  # Aggregate sums
    .reset_index()  # Reset the index to get a DataFrame
)

In [114]:
result_cpc

,main_category,total_users,total_sessions,total_transactions,total_revenue
0,Accessories,4003,61020,44,3496.583097
1,Apparel,6355,171988,137,7817.081659
2,Bags,1831,27140,32,2736.835137
3,Brands,1965,60520,2,154.665000
4,Electronics,2151,38957,21,1894.726340
5,Gift Cards,47,301,3,417.000000
6,Kids,6,174,0,0.000000
7,Lifestyle,399,15696,23,1125.661795
8,Limited Supply,142,3338,0,0.000000
9,Office,1837,48586,69,3374.638584
10,Sale,39,924,0,0.000000
11,Unavailable,2787,26299,70,6548.738233

### (ii) Analysis

In [115]:
# CPC rates for each category based on industry benchmarks (in dollars)
# https://sparklaunch.media/google-ads-cpc-benchmarks/
# https://www.webapex.com.au/blog/google-ads-cpc-benchmark/

cpc_rates = {
    "Accessories": 2.92,
    "Apparel": 2.92,
    "Bags": 2.50,
    "Brands": 3.00,
    "Electronics": 10.76,
    "Gift Cards": 1.76,
    "Kids": 1.50,
    "Lifestyle": 2.50,
    "Limited Supply": 1.76,
    "Office": 3.00,
    "Other": 2.80,
    "Sale": 2.50
}

In [116]:
# Map CPC rates to results_cpc
result_cpc['cpc_rate'] = result_cpc['main_category'].map(cpc_rates)

# estimated cost for each category
result_cpc['estimated_cpc_cost'] = result_cpc['total_sessions'] * result_cpc['cpc_rate']

# total cost
cpc_cost = result_cpc['estimated_cpc_cost'].sum()

print(result_cpc[['main_category', 'total_sessions', 'cpc_rate', 'estimated_cpc_cost']])
print("\nTotal CPC Cost: ${:.2f}".format(cpc_cost))

     main_category  total_sessions  cpc_rate  estimated_cpc_cost
0      Accessories           61020      2.92            178178.4
1          Apparel          171988      2.92           502204.96
2             Bags           27140      2.50             67850.0
3           Brands           60520      3.00            181560.0
4      Electronics           38957     10.76           419177.32
5       Gift Cards             301      1.76              529.76
6             Kids             174      1.50               261.0
7        Lifestyle           15696      2.50             39240.0
8   Limited Supply            3338      1.76             5874.88
9           Office           48586      3.00            145758.0
10            Sale             924      2.50              2310.0
11     Unavailable           26299       NaN                <NA>

Total CPC Cost: $1542944.32

## (c) cpm (Greg)

### (i) Obtain necessary data

In [117]:
result_cpm = (
    result[result['channel'] == 'cpm']  # Filter for cpm channel
    .groupby('main_category')  # Group by main_category
    .agg({
        'total_users': 'sum',
        'total_sessions': 'sum',
        'total_transactions': 'sum',
        'total_revenue': 'sum'
    })  # Aggregate sums
    .reset_index()  # Reset the index to get a DataFrame
)

In [118]:
result_cpm

,main_category,total_users,total_sessions,total_transactions,total_revenue
0,Accessories,2105,28815,36,13812.618656
1,Apparel,2655,62965,82,68651.143974
2,Bags,1190,15844,16,3396.327354
3,Brands,753,18144,2,18.970000
4,Electronics,1004,16492,8,378.758410
5,Gift Cards,27,141,1,106.000000
6,Kids,1,19,0,0.000000
7,Lifestyle,111,4348,21,4039.663422
8,Limited Supply,53,1384,0,0.000000
9,Office,887,18866,48,34998.393821
10,Sale,5,94,0,0.000000
11,Unavailable,1119,12463,31,3962.174276

### (ii) Analysis

In [119]:
# cpm_cost =

## (d) Referral (JQ)

### (i) Obtain necessary data

In [120]:
result_refferal = (
    result[result['channel'] == 'referral']  # Filter for refferal channel
    .groupby('main_category')  # Group by main_category
    .agg({
        'total_users': 'sum',
        'total_sessions': 'sum',
        'total_transactions': 'sum',
        'total_revenue': 'sum'
    })  # Aggregate sums
    .reset_index()  # Reset the index to get a DataFrame
)

In [121]:
result_refferal

,main_category,total_users,total_sessions,total_transactions,total_revenue
0,,4,60,0,0.000000
1,Accessories,12836,172494,54,6008.344019
2,Apparel,16140,383356,183,15829.599049
3,Bags,5394,67144,43,5007.743189
4,Brands,29576,514499,11,181.470000
5,Electronics,7728,114719,34,3578.903215
6,Gift Cards,913,6154,1,257.000000
7,Kids,11,342,0,0.000000
8,Lifestyle,790,25860,32,1826.810723
9,Limited Supply,409,7881,0,0.000000
10,Office,5792,122655,73,5133.867301
11,Other,1,5,0,0.000000
12,Sale,95,2750,0,0.000000
13,Unavailable,12821,80939,66,8892.432357

### (ii) Analysis

In [122]:
# referral_cost =

## (e) Affiliate (MH)

**Background:**
In marketing, affiliation is a performance-based model where businesses reward affiliates (partners, influencers, websites, etc.) for driving traffic, leads, or sales to the company's products or services. Affiliates promote products using unique links, banners, or codes, earning a commission when someone makes a purchase or completes a desired action through their referral.

**Affiliate Marketing Costs:**
Affiliate costs typically vary based on the compensation structure agreed upon between the business and the affiliate. Common models include:

- **Pay-per-Sale (PPS):** A commission on each sale generated. Commissions can be a fixed amount or a percentage of the sale price.
- **Pay-per-Click (PPC):** A fee for each click directed to the business’s website, regardless of whether a sale is made.

**Types of Commissions:**

- **Performance-Based Commissions:**
Performance-based commission in affiliate marketing is a compensation structure where affiliates earn money based on the specific actions they generate, such as sales, leads, or clicks. This model aligns the interests of the affiliates and the advertisers by ensuring that affiliates are only paid when they deliver measurable results. This may range from sale commissions, lead commissions, or click commissions, often with varied percentages based on the value of the action to the advertiser.

- **Flat-Rate Commissions:**
Flat-rate commissions in affiliate marketing involve paying affiliates a predetermined, fixed amount for each action they facilitate, regardless of the value of the transaction. This type of commission structure contrasts with percentage-based commissions, where the affiliate earns a variable amount based on the percentage of the sale or transaction value.

**Rationale:**

- We choose **PPS and Performance-Based Commissions** in subsequent analysis as it is more comprehensive framework, working well for products with a wide value range, or services in which customer LTV varies widely.
- Commission rates vary widely by products, from as low as 1-5% (common in electronics) to 20% or higher (typical for software or digital products).
- Since the e-commerce website has a higher presence in the US, we strive to **follow US industry standards** while performing cost estimation.

**Sensible estimates of main product lines from our research:**

- **Apparel & Accessories:** 8-12% commission (due to higher average margins and frequent promotions).
- **Office Supplies:** Around 5-8% (lower margin, typically lower commission).
- **Electronics:** 2-4% (highly competitive and lower-margin sector).
- **Other categories:** Categories outside Apparel, Office, Accessories, and Electronics typically have mixed margins. A mid-range commission rate of 5% covers these varying margins without overestimating costs. Many secondary categories (e.g., home goods, basic consumables) have stable, but relatively low, margins compared to Apparel and Accessories, aligning well with a 5% commission.

### (i) Obtain necessary data

In [123]:
result_affiliate = (
    result[result['channel'] == 'affiliate']  # Filter for affiliate channel
    .groupby('main_category')  # Group by main_category
    .agg({
        'total_users': 'sum',
        'total_sessions': 'sum',
        'total_transactions': 'sum',
        'total_revenue': 'sum'
    })  # Aggregate sums
    .reset_index()  # Reset the index to get a DataFrame
)

In [124]:
result_affiliate

,main_category,total_users,total_sessions,total_transactions,total_revenue
0,Accessories,2781,34648,1,104.704544
1,Apparel,3263,68700,3,74.980000
2,Bags,1307,13962,1,194.100000
3,Brands,1431,29845,0,0.000000
4,Electronics,2074,31984,0,0.000000
5,Gift Cards,79,504,0,0.000000
6,Kids,1,19,0,0.000000
7,Lifestyle,345,10005,3,149.691816
8,Limited Supply,176,3192,0,0.000000
9,Office,1536,32627,2,35.193636
10,Sale,15,188,0,0.000000
11,Unavailable,1598,8499,3,79.430000

### (ii) Analysis

**Assign Commission Rates by Category:**

  - Apparel & Accessories: 10%
  - Office: 6%
  - Electronics: 3%
  - Other Categories: 5%

In [125]:
# Define categories and respective assumed commission rates
commission_rates = {
    'Apparel': 0.10,
    'Accessories': 0.10,
    'Office': 0.06,
    'Electronics': 0.03,
    'Other Categories': 0.05
}

**Calculate Weighted Revenue by Category**

In [126]:
def calculate_revenue_weights(result_affiliate):
    # Calculate the total revenue from the grouped DataFrame
    total_revenue = result_affiliate['total_revenue'].sum()

    # Calculate the weights for each category
    result_affiliate['revenue_weight'] = result_affiliate['total_revenue'] / total_revenue

    return result_affiliate

In [127]:
def sum_revenue_weights(result_affiliate):
    # Specify the categories to exclude
    excluded_categories = ['Apparel', 'Accessories', 'Electronics', 'Office']

    # Initialize a dictionary for the weights
    weights_dict = {}

    # Sum the weights for categories not in the excluded list
    total_weight_sum = result_affiliate.loc[~result_affiliate['main_category'].isin(excluded_categories), 'revenue_weight'].sum()

    # Create the dictionary with the total weight sum for excluded categories
    weights_dict['Other Categories'] = total_weight_sum

    # Add unchanged weights for other categories
    for category in excluded_categories:
        weights_dict[category] = result_affiliate.loc[result_affiliate['main_category'] == category, 'revenue_weight'].iloc[0]

    return weights_dict

In [128]:
weights_dict = sum_revenue_weights(calculate_revenue_weights(result_affiliate))

**Calculate Weighted Average Commission**

In [129]:
# Calculate weighted average commission rate
weighted_average_commission = sum(
    commission_rates[category] * weights_dict[category] for category in commission_rates
)

**Calculate Affiliate Cost**

In [130]:
affiliate_cost = weighted_average_commission * result_affiliate['total_revenue'].sum()
print("\nTotal Affiliate Cost: ${:.2f}".format(affiliate_cost))

Total Affiliate Cost: $41.24

# **3. Calculate ROI of different marketing channels**

$
\text{ROI} = \frac{\text{Total Revenue} - \text{Total Cost}}{\text{Total Cost}} \times 100
$

In [131]:
organic_roi = (sum(result_organic['total_revenue']) - organic_cost) / organic_cost
cpc_roi = (sum(result_cpc['total_revenue']) - cpc_cost) / cpc_cost
affiliate_roi = (sum(result_affiliate['total_revenue']) - affiliate_cost) / affiliate_cost

print("\nOrganic ROI: {:.2f}%".format(organic_roi))
print("\nCPC ROI: {:.2f}%".format(cpc_roi))
print("\nAffiliate ROI: {:.2f}%".format(affiliate_roi))

Organic ROI: -0.37%

CPC ROI: -0.98%

Affiliate ROI: 14.47%

# **4. Evaluation**